CLOUDINARY_CLOUD_NAME = cloudinary_cloud_name
CLOUDINARY_API_KEY = cloudinary_api_key
CLOUDINARY_API_SECRET = cloudinary_api_secret
DATABASE_URL = postgres_db_url 
REDIS_HOST = redis_host
REDIS_PORT = redis_port 
