PORT=3000
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
DATABASE_URL=postgres_db_url 
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
